<app-header [title]="labels.title" [showBack]="true"></app-header>
<ion-content id="container">
    <ion-grid *ngIf="showMovie">
        <ion-card>
            <ion-row>
                <ion-col size="12">
                    <ion-text>
                        {{ item.original_title }}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card>
            <ion-row>
                <ion-col size="12">
                    <ion-text>
                        {{ item.overview }}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>
</ion-content>
